.env
/vendor/
/storage/cache/twig/*
!storage/cache/twig/.gitkeep
/storage/sounds/*
!storage/sounds/.gitkeep
/storage/attachments/*
!storage/attachments/.gitkeep
/public/uploads/avatars/*
!public/uploads/avatars/.gitkeep
/public/uploads/attachments/*
!public/uploads/attachments/.gitkeep
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
composer.lock
